/*index styling*/

body { 
    margin: 0;
    padding: 0;
    background-color: #eef0f1;
    background-image: url("../../assets/images/dust_scratches.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 1em;
    line-height: 1.5em;
}

header {
    margin: 0 0 80px 0;
    padding: 10px 0 0 0;
    
    text-align: center;
    background-color: #ffffff;
    border-color: #cccccc;
}

div h1 {
    margin: 0;
    padding: .5em;
    width: 8em;
    float: left;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
}

h2 {
    margin: 0;
    margin-bottom: 16px;
    padding-bottom: 24px;
    border-bottom: 2px solid #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

section {
    margin: 0 auto;
    padding: 1.5em;
    width: 960px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

section p {
    margin: 0 0 1em 0;
}

/*don't touch, this works!*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;   
}

.paragraph-align {
    margin: 1em;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.clearfixB::before {
    content: "";
    display: block;
    clear: both;
}
#bio-image {
    height: 200px;
    float: left;
    margin: 0 1em 1em 0;  
}
#headwidth {
    width: 960px;
    margin: 0 auto;
}
.links {
    float: right;
    padding: 30px 0 0 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.name-head {
    float: left;
    margin: 0 10px 0 10px;

}